.DS_Store
node_modules/
/dist
/public
src/bluecode
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor settings
# .vscode they do matter

doc/animating*

install/printapi

install/debian/register/usr/share
src-tauri
result