.header {
  color: var(--text-color);
  font-size: 4.5rem;
  margin: auto;
}
.payments {
  height: 20rem;
  width: 60rem;
  display: flex;
  justify-content: center;
}
.bluecode {
  flex: 1;
  padding: 0.5rem;
  background: url("../assets/bluecode.svg") no-repeat;
  background-position: center;
  background-size: contain;
}

.bankomat {
  flex: 1;
  padding: 0.5rem;
  background: url("../assets/EC2.svg") no-repeat;
  background-position: center;
  background-size: contain;
}
.payment3 {
  flex: 1;
  padding: 0.5rem;
  background: url("../assets/BAR.svg") no-repeat;
  background-position: center;
  background-size: contain;
}
.kundenkonto {
  flex: 1;
  padding: 0.5rem;
  background: url("../assets/KONTO.svg") no-repeat;
  background-position: center;
  background-size: contain;
}

.buttonAbort {
  grid-column: 2;
  background: var(--payment-button-abort-bg);
  color: inherit;
  color: inherit;
  font-size: var(--button-font-size);
  font-weight: bold;
  width: 100%;
  border-radius: 0.8rem;
}
