/* Receipt */
.noreceipt {
  height: 100%;
  color: var(--text-color);
  font-size: 32px;
  display: grid;
  column-gap: 16px;
  padding: 3px;
  grid-template-columns: 1fr 5fr 1fr;
  /* background-color: darkgray; */
}
.please {
  grid-row: 1;
  grid-column: 2;
  justify-self: center;
  align-self: center;
  font-size: 64px;
}

.scann {
  grid-row: 2;
  grid-column: 2;
  justify-self: center;
  padding-right: 160px;
  font-size: var(--font-size);
  width: 800px;
}

.receipt {
  /* height: 100%; */
  display: grid;
  grid-template-rows: auto 112px;
  color: var(--receipt-article-textcolor);
  background-color: var(--receipt-background);
  border-radius: 13px;
}

.totals {
  font-size: var(--receipt-total-font-size);
  font-weight: bold;
  display: grid;
  grid-template-columns: 4fr 2fr 2fr;
  text-align: right;
  margin: 3px 16px;
}

.items_grid {
  display: grid;
  grid-template-columns: 80px 60px 600px 100px 110px;
  text-align: right;
  align-content: flex-start flex;
  font-size: 40px;
  column-gap: 16px;
}

.qtymore {
  background-color: #f6ef91;
  border-radius: 30%;
}



.prodName {
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}
.header {
  font-weight: bold;
  background-color: #1e254949;
  border-bottom: 1px solid;
  padding: 3px 16px;
  border-radius: 13px 13px 0 0;
}
.left {
  text-align: left;
}
.item {
  margin: 0.9rem 16px;
}
.ximg {
  border: none;
  border-radius: 16px;
  background: url("../assets/X.svg");
  background-color: #1e254949;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 2px 5px 15px 3px rgba(0, 0, 0, 0.35);
}

.taxes {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 32px 80px;
  grid-auto-rows: 16px;
  text-align: right;
  justify-content: left;
}

.footer {
  grid-row: 2;
  display: grid;
  color: var(--receipt-footer-textcolor);
  background-color: var(--receipt-footer-background);
  border-top: 1px solid black;
  border-radius: 0 0 13px 13px;
}
