/* Register */
.register {
  height: 100vh;
  display: grid;
  gap: 10px;
  grid-template-rows: [outer-start]12fr 2fr [outer-end]1.5fr;
}


.receipt {
  grid-row: 1;
  margin: 16px;
}

.payment .stornoModal .invoice .admin {
  grid-row: 1;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  grid-row: 3;
}

.buttons > button {
  font-size: var(--button-font-size);
  font-weight: bold;
  width: 500px;
  height: 130px;
}

.zahlen {
  background-color: var(--green);
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: inherit;
  font-weight: inherit;
}

.zahlendisabled {
  background-color:#aaaf;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: inherit;
  font-weight: inherit;
}


.buttontext {
  margin-right:16px;
}
.buttontext2 {
    margin: auto;
}
#bankomat {
  background-image: url("../assets/cardpay.png");
  background-repeat: no-repeat;
  /* background-position: links; */
  background-size: contain;
}
#kundenkonto {
  background-image: url("../assets/GreisslomatKonto.png");
  background-repeat: no-repeat;
  /* background-position: links; */
  background-size: contain;
}

.footer {
  grid-row: 4;
  /* grid-column: 2; */
}

.spinner {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}