/* Storno */
.header {
    color: #1e2549;
    font-size: 72px;
    margin: auto;
  }
  
  .body {
    height: 329px;
    width: 960px;
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  
  .button {
    width: 640px;
    height: 329px;
    font-size: var(--button-font-size);
    border-radius: 13px;
  }
  
  .yes {
    background: var(--storno-yes-background-color)
  }